<% include partials/header %>

<h1>Rock Paper Scissors . . . Lizard Spock</h1>

<h3>Your score is: <span id="player-score">0</span></h3>
<h3>Anarchist Android's score is: <span id="computer-score">0</span></h3>

<button id="new-game">New Game</button>

<h5 id="result"></h5>

<button type="button" name="button" id="rock-ls">Rock</button>
<button type="button" name="button" id="scissors-ls">Scissors</button>
<button type="button" name="button" id="paper-ls">Paper</button>
<button type="button" name="button" id="lizard-ls">Lizard</button>
<button type="button" name="button" id="spock-ls">spock</button>

<% include partials/footer %>
