<% include partials/header %>

<h1>Rock Paper Scissors</h1>

<h3>Your score is: <span id="player-score">0</span></h3>
<h3>Anarchist Android's score is: <span id="computer-score">0</span></h3>

<h5 id="result"></h5>

<button type="button" name="button" id="rock">Rock</button>
<button type="button" name="button" id="scissors">Scissors</button>
<button type="button" name="button" id="paper">Paper</button>

<% include partials/footer %>
