<% include partials/header %>

<h1>Rock Paper Scissors</h1>

<button type="button" name="button" id="rock">Rock</button>
<button type="button" name="button" id="scissors">Scissors</button>
<button type="button" name="button" id="paper">Paper</button>

<% include partials/footer %>
